<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SportsFacilitiesEntities" connectionString="metadata=res://*/SportsFacilitiesModel.csdl|res://*/SportsFacilitiesModel.ssdl|res://*/SportsFacilitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SportsFacilities;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>